@charset "UTF-8";

:root {
    --main-color: #53bbb7;
    --secondary-color: #c98b44;    
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background: linear-gradient(to bottom, var(--main-color), var(--secondary-color)) fixed;
    }

    section#login {
        width: 650px;
        height: 300px;
        transition: 1s;
    }

    #login div {
        display: inline-block;
    }

    #img1 {
        float: left;
        width: 200px;
        height: 100%;
        border-radius: 20px 0 0 20px;        
    }

    #formulario {
        float: right;
        width: 445px;
        height: 300px;
    }

}

@media screen and (min-width: 993px) {
    
    body {
        background: linear-gradient(to bottom, var(--main-color), var(--secondary-color)) fixed;
    }

    section#login {
        width: 650px;
        height: 300px;
        transition: 1s;
    }

    #login div {
        display: inline-block;
    }

    #img1 {
        display: none;
    }

    #img2 {
        width: 200px;
        height: 100%;
        border-radius: 0 20px 20px 0;
        float: right;
    }

    #formulario {
        width: 445px;
        height: 300px;
    }
    
}