@charset "UTF-8";

:root {
    --main-color: #53bbb7;
    --secondary-color: #c98b44;    
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;    
    }

    #formulario {
        float: right;
        width: 70%;
    }

}

/* Desktop e grandes telas */
@media screen and (min-width: 993px) {
    body {
        background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;        
    }

    #formulario {
        float: left;
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin: 20px 0;
    }
}